{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Money</th>
                <th scope="col">Action</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ record.symbol }}</td>
                    <td>{{ record.shares }}</td>
                    <td>{{ record.money }}</td>
                    <td>{{ record.action }}</td>
                    <td>{{ record.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}