{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div>
        <p style="text-align: left; font-size: 30px;">Your Cash: {{ cash }}</p>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Price</th>
                <th scope="col">Shares</th>
                <th scope="col">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.price }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>{{ stock.total }}</td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="2">TOTAL VALUE</th>
                <td colspan="2">{{ total }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}